main{
    max-width: 800px;
    margin: 0 auto;
    background-color: black;
    margin-bottom: 150px;
    padding-bottom: 20px;
}

header{
    color: black;
}

header h1{
    color: white;
    position: relative;
    top: -80px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    padding-bottom: 0px;
    border-radius: 0 0 50px 50px;
    border-bottom: 5px solid white;
    background-image: linear-gradient(to bottom, transparent, black);
}

header img{
    max-width: 100%;
    border-radius: 0 0 50px 50px;
}

body{
    font-family: "Playwrite IT Moderna", serif;
    background-color:dimgray;
}

h1{
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

h2{
    padding-left: 20px;
    padding-bottom: 0px;
    padding-top: 30px;
}

h1, h2{
    color: white;
}

ul{
    color: white;
}

div{
    font-size: 0;
    margin: 20px auto;
    padding-left: 8px;
}

img.dia{
    display: block;
    width: 33%;
    float: left;
    padding-bottom: 30px;
}

img.dia2{
    display: block;
    height: 346px;
    float: left;
    padding-bottom: 30px;
}

img.dia3{
    display: block;
    width: 99%;
}

a{
    color: white;
}

a:hover{
    opacity: .5;
    background-color: transparent;
}

footer{
    text-align: center;
    font-size: 15px;
    padding: 30px;
    margin: 0 auto;
    border-radius: 50px 50px 0 0;
    border-top: 5px solid white;
    background-image: linear-gradient(to top, transparent, black);
}