/* b-o-d-y */
body{
    font-family: "Playwrite IT Moderna", serif;
    background-color:#1c1c1c;
}

/* h-e-a-d-e-r */
header{
    color: black;
    padding-bottom: 0px;
}

h1{
    color: white;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: -80px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    padding-bottom: 0px;
    border-radius: 0 0 50px 50px;
    border-bottom: 5px solid rgb(255, 255, 255);
    background-image: linear-gradient(to bottom, transparent, black);
}

header img{
    max-width: 100%;
    border-radius: 0 0 50px 50px;
}

/* m-a-i-n */
main{
    max-width: 800px;
    margin: 0 auto;
    background-color: black;
    margin-bottom: 150px;
    padding-bottom: 20px;
}

h2{
    color: white;
    padding-left: 20px;
    padding-bottom: 0px;
    padding-top: 30px;
}

/* bullet list */
ul{
    color: white;
}

/* image box */
div{
    font-size: 0;
    margin: 20px auto;
    padding-left: 8px;
}
/* image dias */
img.dia{
    display: block;
    width: 33%;
    float: left;
    padding-bottom: 30px;
}

img.dia2{
    display: block;
    height: 346px;
    float: left;
    padding-bottom: 30px;
}

img.dia3{
    display: block;
    width: 99%;
}

/* f-o-o-t-e-r */
footer{
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 30px;
    margin: 0 auto;
    border-radius: 50px 50px 0 0;
    border-top: 5px solid rgb(255, 255, 255);
    background-image: linear-gradient(to top, transparent, black);
}

a{
    color: white;
}

a:hover{
    opacity: .5;
    background-color: transparent;
}